{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}

<div class="alert alert-info m-0 p-2 px-3 " role="alert">
    <div class="container">

        <div class="row d-flex justify-content-between">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<br>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-8">
            <div class="fs-1 fw-bold">{{evaluacion.nombre}}</div>
            <div class="fs-6 text-secondary">Creado: {{evaluacion.created_at}}</div>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            
            {% if evaluacion.id  in evaluaciones_seguidas %}
            <form action="{% url 'exams_app:seguireva' evaluacion.id %}" method="post"> {% csrf_token %}

                <button type="submit" class="btn btn-primary mx-2">
                    Siguiendo <i class="fas fa-minus"></i> 
                </button>

            </form>

            {% else %}
            <form action="{% url 'exams_app:seguireva' evaluacion.id %}" method="post"> {% csrf_token %}

                <button type="submit" class="btn border border-primary mx-2">
                    Seguir  <i class="fas fa-plus text-primary"></i>
                </button>

            </form>
            
            {% endif %} 

            {% if presentada %}
            <button class="btn btn-white fs-6 border border-secondary px-2 me-2" data-bs-toggle="modal" data-bs-target="#exampleModal2">Valorar <span class="text-warning"><i class="fas fa-star-half-alt"></i></span></button>
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <form method="post" action="{% url 'exams_app:valorareva' evaluacion.id %}"> {% csrf_token %}
                          
                      
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Que tanto te gustó esta evaluación?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body mx-2 text-center">
                      <div class="row p-1 justify-content-center">
                          Valora esta evaluación
                      </div>
                      <div class="my-rating"></div>
                      <input type="hidden" value="{{valoracion}}" id="rating" name="rating">
                      <br>
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                        <button type="submit" class="btn btn-success"> Enviar </button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>                

              {% else %}
              <button class="btn btn-white fs-6 border border-secondary px-2 disabled me-2">Valorar <span class="text-warning"><i class="fas fa-star-half-alt"></i></span></button>
              
              
              {% endif %}
              
              
              {% if aprobado %}
              
              {% if calificado %}
              <span class="d-inline-block"  tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title="Ya calificaste esta evaluación">
                  <button class="btn btn-danger fs-6 text-white px-1 disabled" >Dificultad <i class="fas fa-graduation-cap"></i>  </button>
                </span>
                {% else %}
                <button class="btn btn-danger fs-6 text-white px-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Dificultad <i class="fas fa-graduation-cap"></i>  </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <form method="post" action="{% url 'exams_app:calificareva' evaluacion.id %}"> {% csrf_token %}
                              
                          
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Califica la dificultad de esta evaluación</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body mx-2">
                          <div class="row p-1">
    
                              Solo puedes calificar la dificultad una vez, sé objetivo...
                          </div>
                          <br>
                          <div class="row p-1">
                              <div class="col-md-8 text-center">
                                  <div class="row">
                                      <label for="customRange3" class="form-label">Selecciona la dificultad:</label>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-1">1</div>
                                      <div class="col-md-1 offset-md-9">10</div>
                                  </div>
                                  
                                  <div class="row">
                                      <input id="rango" type="range" class="form-range" min="0" max="10" step="0.5" name="rango">
                                  </div>
    
                              </div>
                              <div class="col-md-4 text-center d-flex align-items-center justify-content-center">
                                  <div class="row text-center">
                                      <div class="fs-6">Dificultad</div>
                                      <div class="fs-2 fw-bold" type="text" id="valor"></div>
                                  </div>
                              </div>
    
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    
                            <button type="submit" class="btn btn-success"> Enviar </button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% else %}
                <span class="d-inline-block"  tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title="Primero debes aprobar la evaluación">
                    <button class="btn btn-danger fs-6 text-white px-1 disabled" >Dificultad <i class="fas fa-graduation-cap"></i>  </button>
                </span>
                {% endif %}

                
        </div>
    </div>
    <div class="row border mt-2 p-2">
        <div class="col-md-7 p-2">
            <div class="row">

                <div class="col-md-5">
                    <div class="row mb-2 align-items-center">
                        <div class="col-md-3">
                            
                            {% if evaluacion.user.foto %}
                            <img class="w-100 d-block rounded"  src="{{evaluacion.user.foto.url }}" alt="">
                            {% else %}
                            <img class="w-100 d-block rounded" src="{% static 'img/no-image.png' %}" alt="">
                            {% endif %}
                                
                        </div>
                        <div class="col-md-9 text-secondary" style="font-size: 0.85rem;">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        Usuario 
                                    </div>
                                    <div class="row">
                                        Seguidores 
                                    </div>
                                    <div class="row">
                                        Evaluaciones
                                    </div>
                                    
                                </div>
                                <div class="col-md-7 px-2">
                                    <div class="row">{{evaluacion.user.username}}</div>
                                    
                                    <div class="row"> 0 </div>
                                    <div class="row">{{autor.evaluaciones}}</div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-7">
                    
                    <div class="row p-0 m-0">
                        <div class="col-md-3">
                            <div class="fw-bold fs-6">
                                Categoría
                            </div> 
                        </div>
                        <div class="col-md-9">
                            <div class="fs-6">
                                <a href="#" class="text-decoration-none">{{evaluacion.subcategoria.categoria}}</a> 
                            </div>
                        </div>
                    </div>
                    <div class="row p-0 m-0 mb-2">
                        <div class="col-md-3">
                            <div class="fw-bold fs-6">
                                Subcategoría
                            </div> 
                        </div>
                        <div class="col-md-9">
                            <div class="fs-6">
                                <a href="#" class="text-decoration-none">{{evaluacion.subcategoria}}</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-0 py-1 m-0 rounded align-items-center text-center bg-dark text-white">
                <div class="col-md-2">
                        Puntaje minimo
                </div>
                <div class="col-md-2">
                        Cantidad de preguntas
                </div>
                <div class="col-md-2">
                        Intentos
                </div>
                <div class="col-md-2">
                        Tiempo limite
                </div>
                <div class="col-md-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Promedio autor, usuarios y subcategoría">
                    Dificultad ponderada
                </div>
                <div class="col-md-2 ">
                        Dificultad autor
                </div>
            </div>
            <div class="row p-0 m-0 text-center py-2">
                <div class="col-md-2">
                        <span class="fw-bold">{{evaluacion.puntaje_minimo}}  </span>/100
    
                </div>
                <div class="col-md-2">
                        <span class="fw-bold">{{evaluacion.cant_preguntas}}</span>
                </div>
                <div class="col-md-2">
                        <span class="fw-bold">{{evaluacion.intentos_permitidos}}</span>
                </div>
                <div class="col-md-2">
                        <span class="fw-bold">{{evaluacion.tiempo_limite}}</span> minutos
                </div>
                <div class="col-md-2 bg-danger text-white rounded">
                        <span class="fw-bold"> {{evaluacion.dificultad_ponderada}}</span>
                </div>
                <div class="col-md-2">
                        <span class="fw-bold"> {{evaluacion.dificultad}}</span> 
                </div>
                
            </div>

            <div class="row  p-0 py-1 m-0 mt-2 rounded align-items-center text-center bg-dark text-white">
                <div class="col-md-2">
                    Intentos
                </div>
                <div class="col-md-2">
                    Aprobados
                </div>
                <div class="col-md-2">
                    % aprobados
                </div>
                <div class="col-md-2">
                    Promedio
                </div>
                <div class="col-md-2">
                    Seguidores
                </div>
                <div class="col-md-2">
                    Valoración
                </div>
            </div>
            <div class="row  p-0 m-0 text-center py-2">
                <div class="col-md-2">
                    
                    <div class="fs-6">{{evaluacion.intentos.count}}</div>
                </div>
                <div class="col-md-2">
                    <div class="fs-6">{{aprobados.aprobados}}</div>
                    
                </div>
                <div class="col-md-2">
                    <div class="fs-6">
                        <div class="progress mt-1">
                            <div class="progress-bar" role="progressbar" style="width: {{porcentaje_aprobados|floatformat:'0'}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{porcentaje_aprobados|floatformat:2}}%
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-2">
                    <div class="fs-6">{{aprobados.promedio|floatformat:2}}/100</div>
                </div>
                <div class="col-md-2">
                    <div class="fs-6">{{seguidores.cantidad}} <i class="fas fa-users"></i></div>
                </div>
                <div class="col-md-2">
                    
                    <div class="fs-6">{{promedio_valoracion}} <i class="fas fa-star-half-alt"></i></div>
                </div>
            </div>

            <div class="row p-0 py-1 m-0 mt-2">
                {{evaluacion.descripcion}}
            </div>
        </div>
        <div class="col-md-5 ">
            <div class="row bg-secondary text-center rounded" style="height: 400px;"></div>
            <div class="row mt-2 py-1">
                <button class="btn btn-outline-primary py-3"> Presentar evaluación </button>
            </div>
        </div>

    </div>

</div>

{% endblock content %}
    
