{% extends "evaluaciones/base_eva.html" %}

{% load static %}

{% block title %}
    Editar evaluación {{evaluacion.nombre}}
{% endblock title %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info m-0 p-2 px-3 " role="alert">
    <div class="container">

        <div class="row d-flex justify-content-between">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<br>

{% if request.user == evaluacion.user %}

<div hidden id="suboculto" >{{evaluacion.subcategoria}}</div>
<div hidden id="catoculto" >{{evaluacion.subcategoria.categoria}}</div>
<div hidden id="preguntasoculto" >{{evaluacion.preguntas.count}}</div>
<div class="container col-md-11 col-lg-10 col-md-9 ">
    <div class="row row border-start ps-3">

        <div class="fs-1">
            Actualizar evaluación
        </div>
        <form method="post" id="formupdate" enctype="multipart/form-data"> {% csrf_token %}
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    <div class="row">
                        <label for="id_nombre" class="form-label"> Nombre </label>
                        <input type="text" name="nombre" maxlength="150" required id="id_nombre" class="form-control"
                            value="{{form.nombre.value}}">
                    </div>
                    <div class="row row-cols-3 row-cols-sm-5 mt-2 border px-0 p-2 rounded shadow-sm letrapequerank gy-0 align-items-end justify-content-center">

                        <div class="col">
                            <div class="row justify-content-center  text-center px-3">Puntaje minimo</div>
                            <div class="row">
                                <div class="col text-center d-flex   justify-content-center">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-6 col-md-8  px-0 ">
                                            <input type="number" name="puntaje_minimo" value="{{form.puntaje_minimo.value}}" min="60" max="90" required
                                                id="id_puntaje_minimo" class="form-control px-1">
    
                                        </div>
                                        <div class="col-6 col-md-4 px-0">
                                            / 100
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-center text-center px-2">Cantidad preguntas</div>
                            <div class="row">
                                <div class="col text-center px-0 d-flex  justify-content-center">
                                    <div class="col-md-12 px-0 px-md-2">
                                        <input type="number" name="cant_preguntas" value="{{form.cant_preguntas.value}}" max="50" required
                                            id="id_cant_preguntas" class="form-control">
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row text-center justify-content-center align-items-center px-2">Intentos permitidos</div>
                            <div class="row">
                                <div class="col text-center  d-flex   justify-content-center">
                                    <div class="container col-md-12 px-0 px-md-2">
                                        <input type="number" name="intentos_permitidos" value="{{form.intentos_permitidos.value}}" min="0" max="5" required
                                            id="id_intentos_permitidos" class="form-control">
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row px-2 justify-content-center text-center align-items-center">Tiempo limite (mins)</div>
                            <div class="row">
                                <div class="col  text-center  d-flex   justify-content-center">
                                    <div class="container col-md-12 px-0 px-md-2">
                                        <input type="number" name="tiempo_limite" value="{{form.tiempo_limite.value}}" required id="id_tiempo_limite"
                                            class="form-control">
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-center">Dificultad</div>
                            <div class="row">
                                <div class="col text-center  d-flex   justify-content-center">
                                    <div class="container col-md-12 px-0 px-md-2">
                                        <input type="number" name="dificultad" value="{{form.dificultad.value|stringformat:".2f"}}" step="0.5" required=""
                                            id="id_dificultad" class="form-control">
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                
                        <div class="col-md-5 px-0">
                            <select class="form-select my-3" aria-label="Default select example" id="listacategoria" required>
                                <option value="" selected>Seleccione una categoria</option>
                            </select>
                        </div>
                        <div class="col-md-5 px-0">
                            <select class="form-select my-3" aria-label="Default select example" id="listasubcategoria"
                                name="subcategoria" required>
                                <option selected>Subcategoría</option>
                            </select>
                        </div>
                        <div class="col-md-2 bg-light shadow-sm my-2 border rounded d-flex align-items-center fs-5">
                            Publico? &nbsp; {{form.publico}}
                        </div>
                        
                    </div>
    
    
                </div>
                <div class="col-md-12 col-lg-3">
    
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center d-flex justify-content-center ">
                            
                            {% if evaluacion.imagen %}
                            <img src="{{ evaluacion.imagen.url }}" alt=""
                            class="mw-100 d-block m-1 rounded border border-secondary" id="mostrarimg"
                            style="height: 200px;">
                            {% else %}
                            <img src="{% static 'img/no-image.png' %}" alt="" class="mw-100 d-block m-1 rounded" id="mostrarimg"
                            style="height: 200px;">

                            {% endif %}
                                
    
                        </div>
                        <input type="file" name="imagen" accept="image/*" id="inputimg" class="form-control">
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-12 col-lg-6">
                    <div class="row me-lg-2 mb-2 mb-lg-0">
                        <label for="id_descripcion" class="form-label fs-4"> Descripción </label>
        
                        <textarea class="form-control shadow-sm" name="descripcion" cols="40" rows="6" maxlength="400"
                            required="" id="id_descripcion">{{form.descripcion.value}}</textarea>
        
                    </div>
                </div>
                <div class="col-md-12 col-lg-6"">
                    <div class="row ms-lg-2">
                        <label for="id_requisitos_minimos" class="form-label fs-4"> Requisitos minimos </label>
                        <textarea class="form-control shadow-sm" name="requisitos_minimos" cols="40" rows="6"
                            maxlength="400" required="" id="id_requisitos_minimos" >{{form.requisitos_minimos.value}}</textarea>
                    </div>
                </div>
            </div>
            <br>
            <div class="row mt-2">
                <button type="submit" class="btn btn-dark">Actualizar evaluación</button>
            </div>
            
            
        </form>
        
        
        
    </div>
    
</div>




{% else %}
<h1>Que haces aqui????</h1>
{% endif %}
    




<script src="{% static 'js/editarevaluacion.js' %}"> </script>
{% endblock content %}