{% extends "evaluaciones/base_preguntas.html" %}

{% load static %}
{% block title %}
    Ver preguntas {{evaluacion.nombre}}
{% endblock title %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info m-0 p-2 px-3 " role="alert">
    <div class="container">

        <div class="row d-flex justify-content-between">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<br>

{% if request.user == evaluacion.user %}

<div class="container">
    <div class="row">
        <div class="fs-2 mb-3">Listado de preguntas</div>
    </div>
    <div class="row">

        {% for pregunta in preguntas  %}
        <div class="col-md-12 col-lg-6 mb-3 letrapeque px-0">
            <div class="row border rounded mx-1 p-2 shadow">
                <div class="col-sm-10">
                    <div class=" mb-2">Pregunta</div>
                  
                    <div style="white-space: pre;">{{pregunta.descripcion}} </div>
        
                    <hr>
                    <div class=" mb-2">Opciones</div>
                    {% for opcion in pregunta.opciones.all  %}
                        <div class="container px-0 px-sm-3">
                            <div class="row">
    
                                <div class="col-2 col-sm-1">
                                    {{forloop.counter}}.
                                </div>
                                <div class="col-10 col-sm-11">
                                    {{opcion}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-2 d-flex align-items-end p-0">
                    <div class="row mt-2 mt-sm-0 px-0 mx-0">

                        <div class="col-6 col-sm-12 mb-2 text-center">
                            <a class="btn btn-outline-primary" href="{% url 'exams_app:editarpregunta' pregunta.id %}">Editar</a>
                            
                        </div>
                        <div class="col-6 col-sm-12 text-center">
                            <form action="{% url 'exams_app:borrarpregunta' pregunta.id %}" method="post"> {% csrf_token %}

                                <button class="btn btn-outline-danger">Borrar</button>
                            </form>
    
                        </div>
                    </div>

                </div>
            
            </div>
        </div>
        {% endfor %}
        
    </div>
    <br>

</div>

    



{% else %}
<h1>Que haces aqui????</h1>
{% endif %}


{% endblock content %}