<br>
<br>
<footer class="bg-dark m-0 py-3">
    <div class="container text-white">
        <div class="row">
            <div class="col-12 col-md-3 text-md-end text-center">
                <a href="{% url 'users_app:politica' %}" class="text-decoration-none text-white">
                    Política de privacidad
                </a> 
            </div>

            <div class="col-12 col-md-9 text-md-end text-center">
                &copy Desarrollado con Django Framework | Juan Rios
            </div>
        </div>
    
    </div>
</footer>

<div class="d-md-none" style="height: 65px;"> </div>
