<br>
<br>
<footer class="bg-dark m-0 py-3">
    <div class="container text-white">
        <div class="row align-items-center">
            <div class="col-12 col-md-4 col-lg-5 text-md-start text-center">
                <a href="{% url 'users_app:politica' %}" class="text-decoration-none text-white">
                    Política de privacidad
                </a> 
            </div>
            <div class="col-12 col-md-4 col-lg-2 text-center fs-5">
                <div class="row mx-3  my-2 my-sm-0">
                    <div class="col-3 offset-3">
                        <a class="text-decoration-none text-white" target="_blank" href="https://www.facebook.com/Soma-Website-106171561680810"> <i class="fab fa-facebook-square"></i> </a>
                    </div>
                    <div class="col-3">
                        <a class="text-decoration-none text-white" target="_blank" href="https://github.com/juanrios15/evaluaciones-site"> <i class="fab fa-github"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-5 text-md-end text-center">
                &copy Desarrollado con Django Framework | Juan Rios
            </div>
        </div>
    
    </div>
</footer>

<div class="d-md-none" style="height: 65px;"> </div>
