{% load static %}

<div class="sticky-top" >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 55px;">
    <div class="container">
      
      <a class="navbar-brand p-0 m-0" href="*">EVAMAX</a>
      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            {% if request.path == '/' %}
            <a class="nav-link active" aria-current="page" href="{% url 'users_app:inicio' %}">Inicio</a>
            {% else %}
            <a class="nav-link" href="{% url 'users_app:inicio' %}">Inicio</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'exams_app:evaluaciones' %}">Evaluaciones</a>
          </li>
          <li class="nav-item">   
            <a class="nav-link" aria-current="page" href="#">Rankings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Docs</a>
          </li>
        </ul>
      </div>
      <span class="navbar-text">
        {% if user.username %}
        
        <a class="text-decoration-none text-white fw-lighter" href="{% url 'users_app:detalleusuario' request.user.slug %}">  Mi perfil</a> &nbsp;
        <a class="text-decoration-none text-white fw-lighter" href="{% url 'users_app:logout' %}">  Salir </a> &nbsp;

        {%else%}

        <a class="text-decoration-none text-white fw-lighter" href="{% url 'users_app:registro' %} "> Registro</a>
        <a class="text-decoration-none text-white fw-lighter" href="{% url 'users_app:login' %} "> Ingreso </a>

        {% endif %}

      </span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        
      </button>
    </div>
  </nav>
  
</div>