{% load static %}
<div class="position-fixed top-0 start-0  p-0 shadow-sm ms-2 my-1">
    <div class="row  text-center p-0 m-0">

        <div class="col-md-6 px-2  text-white rounded-start" style="background-color: #333;">
            <img src="{% static 'img/flags/4x3/es.svg' %}" alt="" style="transform: scale(1.08);"> ES
            </div>
        <div class="col-md-6 px-2  fw-light border rounded-end border-light"> <span style="font-size: 0.8rem;"> <img src="{% static 'img/flags/4x3/us.svg' %}" alt=""> EN </span> </div>
    </div>
</div>