{% extends "base.html" %}

{% load static %}

{% block title %}
Pagina de inicio
{% endblock title %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info m-0 p-2 px-3 mt-3" role="alert">
    <div class="container">

        <div class="row d-flex justify-content-between">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<div class="container-fluid">
    <br class="d-none d-md-block">
    <br class="d-none d-md-block">

    <br>
    <br>
    <div class="row">
        <div class="container col-md-9">
            <div class="row fs-3 fw-light px-2 px-md-0  justify-content-center">
                Mide y comparte tus conocimientos...
            </div>
            <br>
            <br>
            <br>
            <form action="{% url 'exams_app:evaluaciones' %}" method="get">
                <div class="row busqueda justify-content-center">
                    <div class="autoComplete_wrapper px-0">
                        <input class="w-100 py-3 fs-5 shadow" type="search" dir="ltr" spellcheck=false autocorrect="off"
                            autocomplete="off" autocapitalize="off" id="autoComplete" name="kword">
                        <input type="submit" style="display:none" / class="formula">
                    </div>
                </div>
            </form>

        </div>

    </div>
    <br>
    <br>
    <br>
    <div class="row bg-light">
        <div class="container col-md-9 ">
            <br>
            <div class="row fs-3 fw-light justify-content-center">
                O selecciona una categoría:
            </div>
            <br>

            <div class="row align-items-center">
                {% for cat in categorias %}
                <div class="col-md-4 text-center ">
                    <form action="{% url 'exams_app:evaluaciones' %}" method="get">

                        <button class="btn fs-4 fw-light my-2 border rounded px-3 py-2" type="submit"
                            value="{{cat.nombre}}" name="categoria" id="categoria">

                            {{cat.nombre}}
                        </button>


                    </form>
                </div>
                {% endfor %}

            </div>
            <br>
            <br>

        </div>

    </div>
    <br>
    <div class="row">
        <div class="container col-md-9 border-start">
            <div class="fs-3 ">
                Espacio publicitario
            </div>

        </div>
    </div>
    <br>
    <br>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@9.1.1/dist/js/autoComplete.min.js"></script>
<script src="{% static 'js/inicio.js' %}"></script>

{% endblock content %}