{% load static %}
<a class="fs-4 text-decoration-none my-1" href="{% url 'exams_app:detalleeva' epropia.slug %}">{{epropia.nombre}}</a>

<div class="row align-items-center border boder-light rounded mb-3 py-2 mx-0 letrapeque px-0">
    <div class="container col-6 col-md-3 col-lg-2">

        {% if epropia.imagen %}
        <a href="{% url 'exams_app:detalleeva' epropia.slug %}"><img src="{{epropia.imagen.url}}" alt="" class="w-100 d-block m-1 rounded"> </a>

        {% else %}
        <a href="{% url 'exams_app:detalleeva' epropia.slug %}"><img src="/static/img/subcats/{{epropia.subcategoria.nombre}}.jpg" alt="" class="w-100 d-block m-1 rounded"></a>
        {% endif %}
    </div>
    <div class="col-12 col-md-9 col-lg-4 px-0 mx-0">
        <div class="row px-0 mx-0">
            <div>
                <div>
                    Categoría: <span class="fw-light text-secondary">{{epropia.subcategoria.categoria}}</span>
                </div>
                <div>
                    Subcategoría: <span class="fw-light text-secondary">{{epropia.subcategoria}}</span>
                </div>
                <div class="mb-2">
                    Creado: <span class="fw-light text-secondary">{{epropia.created_at}}</span>
                </div>
            </div>
            <div class="row fw-light border rounded shadow-sm px-0 mx-0 ">
                <div class="col-7">
                    <div>Preguntas</div>
                    <div>Puntaje minimo</div>
                    <div>Intentos permitidos</div>
                    <div>Tiempo limite</div>
                    <div>Dificultad Autor</div>
                    <div>Publico</div>

                    
                </div>
                <div class="col-5">
                    <div>{{epropia.cant_preguntas}}</div>
                    <div>{{epropia.puntaje_minimo}} / 100</div>
                    <div>{{epropia.intentos_permitidos}}</div>
                    <div>{{epropia.tiempo_limite}} mins.</div>
                    <div>{{epropia.dificultad|floatformat:"2"}} / 10,00</div>
                    <div>
                        
                        {% if epropia.publico %}
                        <span class="text-success fw-bold">Visible </span> 
                        {% else %}
                        <span class="text-danger fw-bold">Oculto </span> 
                        {% endif %}

                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="row fw-light mb-2 mt-2 mt-md-0">
            <div class="col-7">
                <div>Valoraciones</div>
                <div>Promedio Valoraciones</div>
                <div>Seguidores</div>
                <div>Dificultad ponderada</div>

            </div>
            <div class="col-5">
                <div>{{epropia.tot_valoraciones}} <i class="fas fa-star-half-alt"></i></div>

                {% if epropia.prom_valoraciones == None %}
                <div>0,00/5,00</div>
                {% else %}
                <div>{{epropia.prom_valoraciones|floatformat:2}} / 5,00</div>
                {% endif %}
                <div>
                    {{epropia.tot_seguidores}} <i class="fas fa-users"></i>
                </div>
                <div class="text-danger fw-bold">
                    {{epropia.dificultad_ponderada|floatformat:2}}
                </div>

            </div>

        </div>
        <hr class="my-2 me-2">
        <div class="row fw-light mb-2 mb-md-0">

            <div class="col-7">
                <div>Total de intentos</div>
                <div>Aprobados</div>
                <div>% Aprobados</div>
                <div>Promedio intentos</div>
            </div>
            <div class="col-5">
                <div>
                    {{epropia.tot_intentos}}
                </div>
                <div>
                    {{epropia.total_aprobados}}
                </div>
                <div>

                    {{epropia.aprobados|floatformat:2}} %
                </div>
                <div>

                    {% if epropia.prom_intentos %}
                    {{epropia.prom_intentos|floatformat:2}} / 100,00
                    {% else %}
                    0,00 / 100,00
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="container col-10 col-md-5 col-lg-2 px-0 ">
        <div class="list-group text-center  shadow" style="font-size: 0.9rem;">
            <a href="{% url 'exams_app:verpreguntaseva' epropia.id %}" class="list-group-item list-group-item-action">Ver preguntas <span class="fw-bold text-primary">
                ({{epropia.total_preguntas}}) </span> </a>
            <a href="{% url 'exams_app:agregarpreguntas' epropia.id %}" class="list-group-item list-group-item-action">Agregar pregunta </a>
            <a href="{% url 'exams_app:editareva' epropia.id %}" class="list-group-item list-group-item-action">Editar evaluación </a>
            <a href="{% url 'exams_app:verinteracciones' epropia.id %}"" class="list-group-item list-group-item-action">Ver interacciones </a>


        </div>

    </div>
    <div class="col-md-12 pt-1 text-break">
        Enlace: <a href="{% url 'exams_app:detalleeva' epropia.slug %}" class=" text-decoration-none fw-light">https://www.somabeta.com/detalleevaluacion/{{epropia.slug}}/</a>
    </div>
</div>


    