{% load static %}

<div class="container col-md-9">
<div class="row">
    <div class="col-md-2">
        
        {% if usuario.foto %}
        <img src="{{usuario.foto.url }}" alt=""  class="w-100 d-block m-1 rounded">
        
        {% else %}
        <img src="{% static 'img/no-image.png' %}" alt="" class="w-100 d-block m-1 rounded">
        {% endif %}
            
    </div>
    <div class="col-md-6 d-flex align-items-center">
        <div class="row ">
            <div class="col-md-12">
                <div class="fs-3 text-secondary">{{usuario.username}}</div>
                {{usuario.full_name}}
                <br>
                <div class="row">

                </div>
                <div class="fs-6"> <span class="flag-icon flag-icon-{{usuario.codigo_pais}} rounded" ></span> {{usuario.pais}} </div> 
                <div class="fs-3 fw-light"> Pts. <span class="text-primary">{{usuario.puntaje_total|floatformat:2}} </span></div>
                <div class="fs-4 fw-dark"> Rango | <span class="fs-4 fw-light">{{usuario.rango}}</span> </div>
                <div class="text-secondary"  style="font-size: 0.9rem;"> Usuario desde: {{usuario.created_at|date:"d F Y"}}</div>
            </div>
        </div>
        
    </div>
    <div class="col-md-3 offset-md-1 my-0">
        {% if request.user == usuario %}
        {% else %}
        <div class="container col-md-10 text-end px-0 ">
            <div class="row border-bottom align-items-center">                
                
                <div class="col-md-12 mb-2 px-0">
                    {% if usuario.id  in usuarios_seguidos %}
                        <form action="{% url 'users_app:seguirusuario' usuario.id %}" method="post"> {% csrf_token %}

                            <button type="submit" class="btn btn-primary mx-2">
                                Siguiendo <i class="fas fa-minus"></i> 
                            </button>

                        </form>

                        {% else %}
                        <form action="{% url 'users_app:seguirusuario' usuario.id %}" method="post"> {% csrf_token %}

                            <button type="submit" class="btn border border-primary mx-2">
                                Seguir  <i class="fas fa-plus text-primary"></i>
                            </button>

                        </form>
                        
                    {% endif %} 

                </div>
                
            </div>
            
        </div>
        <br>
        {% endif %}
        
        {% if request.user == usuario %}

            
        <div class="container col-md-10 py-2 text-center px-0">
            <div class="list-group">

                
                {% if boton_activo %}
                <a class="list-group-item list-group-item-action bg-dark" style="color: #ccc;" type="button" href="{% url 'users_app:detalleusuario' usuario.slug %}">
                    Ir a Perfil
                </a> 
                {% else %}
                <a class="list-group-item list-group-item-action  bg-dark" style="color: #ccc;"  type="button" href="{% url 'users_app:seguidoresusuario' usuario.id %}">
                    Ir a Social
                </a> 
                {% endif %}
                    

                <a class="list-group-item list-group-item-action" type="button" href="{% url 'exams_app:crearevaluacion' %}">
                    Crear evaluación
                </a> 
                <a class="list-group-item list-group-item-action" type="button" href="{% url 'users_app:updateusuario' usuario.slug %}" >
                    Editar usuario
                </a> 
                
                {% if user.password %}
                
                <a class="list-group-item list-group-item-action" type="button" href="{% url 'users_app:cambiarpassword' %}">
                    Cambiar contraseña
                </a> 
                
                {% else %}

                <a class="list-group-item list-group-item-action" type="button" href="{% url 'users_app:crearpassword'%}" id="editaruser">
                    Crear contraseña
                </a> 
                
                {% endif %}
            </div>

        </div>
        {% endif %}
            

    </div>
        
</div>
</div>