{% extends "base.html" %}

{% load  static %}

{% block css %}

{% endblock css %}

{% block js %}
<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.0/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/8.4.0/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.4.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.0/firebase-firestore.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script src="{% static 'js/countrySelect.js' %}"> </script>
<script src="{% static 'js/authenticate.js' %}"> </script>
<script src="{% static 'js/updateuser.js' %}"> </script>


{% endblock js %}