{% extends 'base.html' %}
{%load static%}

{% block title %}Cambiar contraseña{% endblock title %}


{% block content %}


<br>
<div class="container col-md-9">
    <br>
    <br>
    <div class="row">
        <div class="col-md-7 border-end border shadow py-3 rounded">
            <div class="row mb-2 text-center">
    
                <h1> Actualizar contraseña</h1>
            </div>
            <br>
            <div class="container col-md-10 col-lg-8 col-xl-6">
    
                <form method="post" enctype='multipart/form-data'> {% csrf_token %}
      
                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                        <label for="id_old_password" >{{form.old_password.label}}</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                        <label  for="id_new_password1">{{form.new_password1.label}}</label>

                    </div>

                    <div class="form-floating mb-3">

                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                        <label  for="id_new_password2">{{form.new_password2.label}}</label>

                    </div>
                        
                    <div class="col-md-12 text-center">
                        
                        <button type="submit" class="btn btn-primary align-self-end">Modificar</button>
                    </div>
                    
   
                    <br>
                </form>
            </div>
    
        </div>
        <div class="col-md-5">

            <br>
            <div class="container fs-3 fw-light">
                Espacio Publicitario

            </div>

        </div>


    </div>
    
</div>
<br>


{% endblock content %}
