{% extends "base.html" %}

{% load  static %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info m-0 p-2 px-3 " role="alert">
    <div class="container">

        <div class="row d-flex justify-content-between">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
        </div>
    </div>
</div>
{% endfor %}
{% endif %}



{% if user.password %}
<h1>No deberias estar aqui, ya tienes una contraseña</h1>
{% else %}


{% if request.user == user %}

<br>
<div class="container col-md-9">
    <br>
    <br>
    <div class="row py-3 ">
        <div class="col-md-7 border-end border shadow py-3 rounded">
            <div class="row text-center">
                <h1>Crear una contraseña</h1>
            </div>
            <br>
            <div class="container col-md-7">
            <form method="post"> {% csrf_token %}
                <div class="form-floating mb-3">
                    {{form.email }}
                    <label >Email</label>

                </div>
                <div class="form-floating mb-3">
                    
                    {{form.password1 }}
                    <label >Contraseña</label>

                </div>
                <div class="form-floating mb-3">

                    {{form.password2 }}
                    <label >Repetir contraseña</label>

                </div>
                <button type="submit" class="btn btn-primary mb-3">Crear contraseña</button>

                    
            </form>
            </div>
        </div>
        <div class="col-md-5">

            <br>
            <div class="container fs-3 fw-light">
                Espacio Publicitario

            </div>

        </div>
        


    </div>

</div>

    
{% endif %}
    

{% endif %}

{% endblock content %}
    
