{% extends "base.html" %}

{% load  static %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info m-0 p-2 px-3 " role="alert">
    <div class="container">

        <div class="row d-flex justify-content-between">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
        </div>
    </div>
</div>
{% endfor %}
{% endif %}



{% if user.password %}
<h1>No deberias estar aqui, ya tienes una contraseña</h1>
{% else %}


{% if request.user == user %}
<form method="post"> {% csrf_token %}
    {{form.as_p }}
    <button type="submit">Crear contraseña</button>

</form>
    
{% endif %}
    

{% endif %}

{% endblock content %}
    
