{% extends "users/base_users.html" %}

{% load static %}


{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info m-0 p-2 px-3 " role="alert">
    <div class="container">

        <div class="row d-flex justify-content-between">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<br>
{% include 'users/base_perfil.html' %}

<div class="container col-md-10">
    <div class="row">
        <div class="col-md-9 border-end">
            <br>
            <div class="row mb-2">
                <div class="fs-2">
                    Favoritos ({{favoritos}})
                </div>
            </div>
            <hr>
            <div class="row ">
                
                {% for seguido in favoritos_list %}
                <div class="col-md-3 ">
                    <div class="row text-center px-1 ">
                        <div class="row  text-center align-items-center mx-0 " style="height: 50px;">
      
                            <a href="{% url 'exams_app:detalleeva' seguido.evaluacion.slug %}" class="text-decoration-none "> {{seguido.evaluacion.nombre|truncatechars:55}} </a>
                        </div>
                        <div class="row mx-0 px-0">
                            {% if seguido.evaluacion.imagen %}
                            <a href="{% url 'exams_app:detalleeva' seguido.evaluacion.slug %}">
                                <img src="{{seguido.evaluacion.imagen.url}}" alt=""  class="mw-100 d-block  rounded" style="height: 180px;">
                            </a>
                            
                            {% else %}
                            <a href="{% url 'exams_app:detalleeva' seguido.evaluacion.slug %}">
                                <img src="/static/img/subcats/{{seguido.evaluacion.subcategoria.nombre}}.jpg" alt="" class="mw-100 d-block  rounded" style="height: 180px;">
                            </a> 
                            {% endif %}

                        </div>
                        <div class="row  mx-0 align-items-center text-center  border px-0 fw-light mt-1" style="font-size: 0.9rem;">
                            <div class="col-md-4 ">
                                Tiempo limite
                            </div>
                            <div class="col-md-4  px-0">
                                Intentos Permitidos
                            </div>
                            <div class="col-md-4 px-0">
                                Dificultad
                            </div>
                        </div>

                        <div class="row mx-0 px-0 fw-light border   " style="font-size: 0.9rem;">
                            <div class="col-md-4">
                                {{seguido.evaluacion.tiempo_limite}}
                            </div>
                            <div class="col-md-4">
                                {{seguido.evaluacion.intentos_permitidos}}
                            </div>
                            <div class="col-md-4 fw-bold">
                                {{seguido.evaluacion.dificultad_ponderada|floatformat:2}}
                            </div>
                        </div>

                    </div>
        
        
                </div>
            
                {% endfor %}
        
            </div>




        </div>

        <div class="col-md-3">
            <br>
            <div class="container fs-3 fw-light">
                Espacio Publicitario

            </div> 

        </div>

    </div>
    
        
</div>



{% endblock content %}