{% extends "users/base_users.html" %}

{% load static %}

{% block title %}
    Perfil de usuario
{% endblock title %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info m-0 p-2 px-3 mt-3" role="alert">
    <div class="container">

        <div class="row d-flex justify-content-between">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<br>




{% include 'users/base_perfil.html' %}

<div class="container ">

    <br>
    <br>
    <div class="row">
        <div class="col-md-4 d-flex align-items-center border-end">
            <div class="row border rounded mx-3 py-2 pb-3">
                <div class="fs-3">Intentos</div>
                <hr>
                <div class="row">
                    <div class="col-md-7">
                        <div>
                            Total Intentos
                        </div>
                        <div>
                            
                            Total Evaluaciones
                        </div>
                        <div>
                            Evaluaciones aprobadas
                        </div>
                        <div>
                            % aprobadas
                        </div>
                        <div class="fw-bold text-success">
                            Intentos perfectos
                        </div>
                        <div class="fw-bold text-success">
                            % perfectos
                        </div>
                        <div>
                            Promedio calificaciones
                        </div>
                    </div>
                    <div class="col-md-5 text-center">
                        <div>
                            {{total_intentos.total}}
                        </div>
                        {{total_intentos.evaluaciones}}
                        <div>
                        </div>
                        <div>
                            {{total_intentos.aprobados}}
                        </div>
    
    
                        <div class="progress my-1">
                            <div class="progress-bar" role="progressbar"
                                style="width: {{porcentaje_aprobados|floatformat:'0'}}%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">{{porcentaje_aprobados|floatformat:1}}%
                            </div>
                        </div>
    
                        <div>
                            <div class="fw-bold text-success">
                                {{total_intentos.perfectas}}
                            </div>
                        </div>
                        <div>
                            <div class="progress my-1">
                                <div class="progress-bar bg-success" role="progressbar"
                                    style="width: {{porcentaje_perfectas|floatformat:'0'}}%;" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100">{{porcentaje_perfectas|floatformat:1}}%
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="fw-bold"> {{total_intentos.promedio|floatformat:2}}</span> / 100
                        </div>
                    </div>
    
    
                </div>

            </div>

        </div>
        <div class="col-md-4 d-flex align-items-center border-end">
            <div class="row border rounded  mx-3 py-2 pb-3">
                <div class="fs-3">Evaluaciones Propias</div>
                <hr>
                <div class="row">
                    <div class="col-md-7">
                        <div>
                            Evaluaciones elaboradas
                        </div>
                        <div>
                            Total Valoraciones
                        </div>
                        <div>
                            Total Seguidores
                        </div>
                        <div>
                            Promedio valoraciones
                        </div>
                        <div>
                            Promedio dificultad
                        </div>
                        <div>
                            Total de intentos
                        </div>
    
                    </div>
                    <div class="col-md-5 text-center">
                        <div>
                            {{total_evaluaciones}}
                        </div>
                        <div>
                            {{Valoraciones_eva_propias.cant}}
                        </div>
                        <div>
                            {{seguidores_eva_propias}}
                        </div>
                        <span class="fw-bold text-warning">{{Valoraciones_eva_propias.prom|floatformat:2}} </span>/ 5,00
                        <div>
                            <span class="fw-bold text-danger">{{dificultad_evaluaciones|floatformat:2 }} </span>/10,00
                        </div>
                        <div>
                            {{total_intentos_eva_propias}}
                        </div>
    
                    </div>
    
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class=" row justify-content-center border rounded mx-3 py-2 mb-2">
                <div class="row fs-3">
                    Social
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn border text-dark" href="{% url 'users_app:seguidoresusuario' usuario.id %}">
        
                            <span class="fw-bold"> {{seguidores}} </span>
        
                            {% if seguidores == 1 %}
                            Seguidor
                            {% else %}
                            Seguidores
                            {% endif %}
                        </a>

                    </div>
                    <div class="col-md-4">
                        <a class="btn border text-dark" href="{% url 'users_app:seguidosusuario' usuario.id %}">
        
                            <span class="fw-bold"> {{seguidos}} </span>
        
                            {% if seguidos == 1 %}
                            Seguido
                            {% else %}
                            Seguidos
                            {% endif %}
                        </a>

                    </div>
                    <div class="col-md-4">
                        <a class="btn border text-dark"
                            href="{% url 'users_app:evaluacionesfavoritasusuario' usuario.id %}">
                            <span class="fw-bold"> {{favoritos}} </span>
        
                            {% if favoritos == 1 %}
                            Favorito
                            {% else %}
                            Favoritos
                            {% endif %}
        
                        </a>

                    </div>
                </div>

            </div>
            <div class="row row justify-content-center border rounded mx-3 py-2">
                <div class="row fs-3">
                    Biografía
                </div>
                <div class="row">
                    <div class="col-md-12 border" style="min-height: 100px;">
                    {{usuario.biografia}}
                    </div>
                </div>
            </div>

        </div>

    </div>
    <br class="d-none d-md-block">

</div>






{% endblock content %}