{% extends "users/base_users.html" %}

{% load static %}

{% block title %}
    Mis seguidores
{% endblock title %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info m-0 p-2 px-3 " role="alert">
    <div class="container">

        <div class="row d-flex justify-content-between">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<br>
{% include 'users/base_perfil.html' %}




<div class="container col-md-10">
    <div class="row">
        <div class="col-md-9 border-end">
            <br>
            <div class="row mb-2">
                <div class="fs-2">
                    Seguidores ({{seguidores}})
                </div>
            </div>
            <hr>
            <div class="row ">
                
                {% for seguido in seguidores_list %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                        {% if seguido.seguidor.foto %}
                        <a href="{% url 'users_app:detalleusuario' seguido.seguidor.slug %}"><img src="{{seguido.seguidor.foto.url}}" alt=""  class="w-100 d-block m-1 rounded shadow-sm" style="height: 180px;"> </a>
                        
                        {% else %}
                        <a href="{% url 'users_app:detalleusuario' seguido.seguidor.slug %}"> <img src="{% static 'img/no-image.png' %}" alt="" class="w-100 d-block m-1 rounded shadow-sm" style="height: 180px;"></a>
                        {% endif %}
                    <div class="row justify-content-center text-center">
      
                    <a href="{% url 'users_app:detalleusuario' seguido.seguidor.slug %}" class="text-decoration-none "> {{seguido.seguidor.username}} </a>
                    Rango | {{seguido.seguidor.rango}}
                    </div>
        
        
                </div>
            
                    {{seguidor.seguidor.foto.url}}
                {% endfor %}
        
            </div>

        </div>
        <div class="col-md-3">
            <br>
            <div class="container fs-3 fw-light">
                Espacio Publicitario

            </div> 

        </div>

    </div>
    
        
</div>



{% endblock content %}