{% extends 'base.html' %}

{% load static %}
{% block title %}
    Resultados del intento 
{% endblock title %}
{% block content %}
<br>

<div class="container col-md-10 col-xl-8">

    <div class="row justify-content-center">
        <br>
        <div class="col-md-10 col-lg-8 rounded shadow-sm bg-light pb-3">
            <div class="row text-center mt-3">
                <h1>Resultado</h1>

            </div>
            <br>
            <div class="row">
                <div class="container col-md-8 col-xl-6 border border-primary shadow rounded bg-white">
                    <div class="col-md-12 text-primary py-3 text-center" style="font-size: 3rem;">

                        {{intento.puntuacion|floatformat:2}} / 100
                    </div>
                </div>
            </div>
            <br>
            <div class="row mt-2">

                <div class="container col-md-8 col-xl-5 border rounded text-center">
                    <div class="row">
                        <div class="col-md-6 fs-5">

                            Aprobado?
                        </div>
                        <div class="col-md-6">
                            {% if intento.aprobado %}
                            <span class="text-success">
                                Si
                            </span>
                            {% else %}
                            <span class="text-danger fs-5">
                                No
                            </span>
                            {% endif %}
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Duración
                        </div>
                        <div class="col-md-6">
                            {{intento.duracion}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row ">
                <div class="container col-md-8 col-xl-6 text-center border rounded shadow-sm">
                    <div class="row " style="font-size: 3rem;">
                        <div>
                            Pts. 
                            {% if intento.puntos == 0 %}
                            <span class="text-primary">+ {{intento.puntos|floatformat:2}}</span> 
                            
                            {% else %}
                            <span class="text-success">+ {{intento.puntos|floatformat:2}}</span> 
    
                            {% endif %}

                        </div>
                                               
                            
                    </div>
                        <div class="row px-3 justify-content-center mb-2">
                            <div class="col-3 px-0">
                                
                                {% if intento.usuario.foto %}
                                    <img src="{{intento.usuario.foto.url}}" alt="" class="w-100 d-block rounded">
                                {% else %}
                                 <img src="{% static 'img/no-image.png' %}" alt="" class="w-100 d-block rounded">
                                {% endif %}
                                    
                            </div>
                            <div class="col-12 px-1">
                                {{intento.usuario.username}}
                                <br>
                                Rango | {{intento.usuario.rango}}
                                
                            </div>

                            
                        </div>                    
                    
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4 ">
            <br>
            <div class="container fs-3 fw-light border-start">
                Espacio Publicitario

            </div>
        </div>
    </div>

</div>


{% endblock content %}